@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
html{
    height: 100%;
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #fff1a454;
}
body{
    display: flex;
    flex-flow: column;
    margin: 0;
}
/*ヘッダー*/
header{
    height: 80px;
    width:100%;
    background-color: #ffffff;
    position:fixed;
    top:0px;
}
header img{
    width:180px;
    position:fixed;
}
.view1{
    width:15%;
    margin:20px;
    background-color:#f7ae7e;
    text-align:center;
    padding:7px;
    box-sizing:border-box;
    margin:0px 150px;
    position:absolute;
    color:white;
    text-decoration-line:none;
    font-size:20px;
}
.login{
    width:15%;
    margin:20px;
    background-color:#f7ae7e;
    text-align:center;
    padding:7px;
    box-sizing:border-box;
    margin:0px 3px;
    float:right;
    margin:0px 30px;
    color:white;
    text-decoration-line:none;
    font-size:20px;
}
.container{
    margin-top: 100px;
    height: 500px;
    text-align:center;
}
.btn{
    color: white;
    margin-bottom: 20px;
    background-color: orange;
    display: inline-flex;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 30px;
   
}

.btn:hover{
    background-color: rgb(226, 147, 0);
}


/* フッター */
footer{
    box-sizing: border-box;
    height: 50px;
    width:100%;
    background-color:#918d8b;
    color:white;
    /*padding:10px;
    bottom:0;*/
    position:absolute;
    bottom:0; 
}
#copy{
    margin:10px;
    float:right;
}